@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

abbr.time{
	font-variant: small-caps;
}

[epub|type~="z3998:recipient"]{
	text-align: left;
	font-style: italic;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"],
.signature{
	text-align: right;
	font-variant: small-caps;
}
